<!DOCTYPE html>
<html lang="en">

<head>
    <title>Unauthorized Access:: Python Flask Bucket List App</title>


    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet">

    <link href="https://getbootstrap.com/docs/3.3/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">


</head>

<body>

    <div class="container">
        <div class="header">
          <ul class="nav nav-pills">
          <li class="nav-item">
          <a class="nav-link active" href="/">Home</a>
          </li>
          <li class="nav-item">
          <a class="nav-link" href="/showSignin">Sign In</a>
          </li>
          <li class="nav-item">
          <a class="nav-link" href="/showSignUp">Sign Up</a>
          </li>
          <li class="nav-item">
          <a class="nav-link disabled" href="#">Purchase</a>
          </li>
          </ul>
            <h3 class="text-muted">Python Flask App</h3>
        </div>

        <div class="jumbotron">
            <h1>{{error}}</h1>
        </div>



        <footer class="footer">
            <p>&copy; Talji Productions 2022</p>
        </footer>

    </div>
</body>

</html>
